<a href="https://colab.research.google.com/github/SKAFabian/PLNG211-2-OLFU-QC/blob/main/Week%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
3+5-6*2/4

5.0

In [2]:
for var in range(5):
  print(var)

0
1
2
3
4

In [4]:
for var in range(0,6+1,2):
  print(var)

0
2
4
6

In [5]:
varlist = [1,2,3,4,5,6,7,8,9,10]
print(varlist[2:9:2])

[3, 5, 7, 9]

In [6]:
var1, var2, var3 = "ABC", "DEF", "GHI"
print(var1)
print(var2)
print(var3)

a = b = c = 'abc'
print(a)
print(b)
print(c)

ABC
DEF
GHI
abc
abc
abc

In [10]:
Rate = 600
Salary = 600*15
Tax = Salary*.3
Net_pay = Salary-Tax

print("Your Total Salary is ", Salary)

print("Total Tax Amount is ", Tax)

print("Your Total Net Pay is ", Net_pay)

Your Total Salary is  9000
Total Tax Amount is  2700.0
Your Total Net Pay is  6300.0